In [1]:
from unsloth import FastLanguageModel
import torch
from trl import SFTTrainer
from transformers import TrainingArguments
from datasets import load_dataset
import mysql.connector
from tqdm.notebook import tqdm
import pandas as pd
import time

In [2]:
def connect_db():
    db = mysql.connector.connect(
        host="101.101.210.141",
        user="study",
        passwd="study!@#$%",
        database="seoul_welfare"
        # database="aihub_seoul_healthcare"
)
    return db

def mysql_query(database, query:str):
    database.reconnect()
    cur = database.cursor() 
    cur.execute(query)
    result = cur.fetchall()

    return result

In [3]:
db = connect_db()

In [4]:
eval_data_path = '../data/welfare/test.jsonl'
evalset = load_dataset("json", data_files = eval_data_path, split='train')
len(evalset)

136

In [5]:
evalset['input'][1]

'폐지한 민간 어린이집의 이름을 알려줘'

In [6]:
max_seq_length = 2048
dtype = torch.float16
load_in_4bit = True
model, tokenizer = FastLanguageModel.from_pretrained(
    model_name = "FINwillson/llama-3-8B-welfare-sft-v1",
    max_seq_length = max_seq_length,
    dtype = dtype,
    load_in_4bit = load_in_4bit
)

adapter_config.json:   0%|          | 0.00/732 [00:00<?, ?B/s]

==((====))==  Unsloth: Fast Llama patching release 2024.4
   \\   /|    GPU: NVIDIA GeForce RTX 4090. Max memory: 23.642 GB. Platform = Linux.
O^O/ \_/ \    Pytorch: 2.2.2. CUDA = 8.9. CUDA Toolkit = 12.1.
\        /    Bfloat16 = TRUE. Xformers = 0.0.25.post1. FA = False.
 "-____-"     Free Apache license: http://github.com/unslothai/unsloth

Unused kwargs: ['_load_in_4bit', '_load_in_8bit', 'quant_method']. These kwargs are not used in <class 'transformers.utils.quantization_config.BitsAndBytesConfig'>.
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

adapter_model.safetensors:   0%|          | 0.00/671M [00:00<?, ?B/s]

Unsloth 2024.4 patched 32 layers with 32 QKV layers, 32 O layers and 32 MLP layers.

In [7]:
model.config.to_dict()["torch_dtype"]

'float16'

In [8]:
prompt_1 = """### Task
Generate a SQL query to answer the following question:
`{}`
 
### Database Schema
This query will run on a database whose schema is represented in this string:
"{}"
An example of the SQL would be 'SELECT * FROM orders WHERE DATE(orderdate) = CURDATE() - INTERVAL 1 DAY AND status = 'COMPLETED'
 
### SQL
Given the database schema, here is the SQL query that answers `{}`:
[SQL]{}"""

In [9]:
test = prompt_1.format(
            f"{evalset[1]['input']}",
            f"{evalset[1]['context']}",
            f"{evalset[1]['input']}",
            "", 
        )

In [10]:
print(test)

### Task
Generate a SQL query to answer the following question:
`폐지한 민간 어린이집의 이름을 알려줘`

### Database Schema
This query will run on a database whose schema is represented in this string:
"CREATE TABLE child_care_info_y_s (  SIGUNNAME varchar(8) DEFAULT NULL,  STCODE bigint DEFAULT NULL,  CRNAME varchar(32) DEFAULT NULL,  CRTYPENAME varchar(11) DEFAULT NULL,  CRSTATUSNAME varchar(7) DEFAULT NULL,  ZIPCODE bigint DEFAULT NULL,  CRADDR varchar(52) DEFAULT NULL,  CRTELNO varchar(18) DEFAULT NULL,  CRHOME varchar(44) DEFAULT NULL,  NRTRROOMSIZE varchar(9) DEFAULT NULL,  PLGRDCO varchar(6) DEFAULT NULL,  CCTVINSTLCNT varchar(7) DEFAULT NULL,  CHCRTESCNT varchar(7) DEFAULT NULL,  CRCAPAT varchar(8) DEFAULT NULL,  CRCHCNT varchar(8) DEFAULT NULL,  LA bigint DEFAULT NULL,  LO bigint DEFAULT NULL,  CRCARGBNAME varchar(8) DEFAULT NULL,  CRCNFMDT varchar(19) DEFAULT NULL,  CRPAUSEBEGINDT varchar(200) DEFAULT NULL,  CRABLDT varchar(19) DEFAULT NULL,  DATASTDRDT varchar(19) DEFAULT NULL,  CRSPEC varchar(15) DEFAULT NULL,  CLASS_CNT_00 varchar(6) DEFAULT NULL,  CLASS_CNT_01 varchar(6) DEFAULT NULL,  CLASS_CNT_02 varchar(6) DEFAULT NULL,  CLASS_CNT_03 varchar(6) DEFAULT NULL,  CLASS_CNT_05 varchar(6) DEFAULT NULL,  CLASS_CNT_M2 varchar(7) DEFAULT NULL,  CLASS_CNT_M5 varchar(6) DEFAULT NULL,  CLASS_CNT_SP varchar(6) DEFAULT NULL,  CLASS_CNT_TOT varchar(7) DEFAULT NULL,  CHILD_CNT_01 varchar(7) DEFAULT NULL,  CHILD_CNT_02 varchar(7) DEFAULT NULL,  CHILD_CNT_03 varchar(7) DEFAULT NULL,  CHILD_CNT_04 varchar(7) DEFAULT NULL,  CHILD_CNT_05 varchar(7) DEFAULT NULL) ;"
An example of the SQL would be 'SELECT * FROM orders WHERE DATE(orderdate) = CURDATE() - INTERVAL 1 DAY AND status = 'COMPLETED'

### SQL
Given the database schema, here is the SQL query that answers `폐지한 민간 어린이집의 이름을 알려줘`:
[SQL]

In [11]:
excute_result = []
query_cnt_result = []
include_query_result = []
cnt_query_result = []
inference_query = []
fail_check = []
FastLanguageModel.for_inference(model)

In [12]:
for i in tqdm(range(len(evalset))):
    inputs = tokenizer(
    [
        prompt_1.format(
            f"{evalset[i]['input']}",
            f"{evalset[i]['context']}",
            f"{evalset[i]['input']}",
            "", 
        )
    ], return_tensors = "pt").to("cuda")

    outputs = model.generate(**inputs, max_new_tokens = 300, use_cache = True)
    result = tokenizer.batch_decode(outputs)
    result = result[0].split("[SQL]")[-1].split("[/SQL]")[0].split("<|end_of_text|>")[0]
    torch.cuda.empty_cache()
    inference_query.append(result)
# print(f"index:{i}\ninference:{result}")

# try:
#     infer_query_result = mysql_query(db, result)
#     real_query_result = mysql_query(db, evalset['output'][i])
#     comp = any(item in real_query_result for item in infer_query_result)
#     excute_result.append(1)
#     cnt_query_result.append(len(infer_query_result))
#     if len(infer_query_result) == len(real_query_result):
#         query_cnt_result.append(1)
#     else:
#         query_cnt_result.append(0)
#         fail_check.append(i)
    
#     if comp == True:
#         include_query_result.append(1)
#     else:
#         include_query_result.append(0)
# except Exception as e:
#     excute_result.append(0)
#     cnt_query_result.append(0)
#     query_cnt_result.append(0)
#     print(i, e)
#     fail_check.append(i)

#     time.sleep(0.2)
    
# print(f"index:{i}\ninference:{result}\nLabel:{inference_query}")

  0%|          | 0/136 [00:00<?, ?it/s]

Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.

In [13]:
inference_query

[' SELECT AVG(CAST(Q_SUM AS SIGNED)) FROM global_job_counsel_qtrst WHERE YEAR(YYYY) = 2020\n',
 " SELECT CRNAME FROM child_care_info_y_s WHERE CRTYPENAME = '민간' AND CRSTATUSNAME = '폐지' AND CRNFMDT!= '0000-00-00 00:00:00';\n",
 ' SELECT * FROM subway_tour_info WHERE STATION = "건대입구역"\n \n### Result\nThe result is a table containing a single row with a single column containing a single value:\n```sql\nNO\nLINE\nLINE_NAME\nSTATION\nSTATION_IMAGE\nCOURSE1\nCOURSE2\nELEVATER\nELEVATER_TXT\nSTATION_IMAGE2\nUSEYN\nICON_PATH\nEXIT_INFO\nTELNO_INFO\nTIME_INFO1\nTIME_INFO2\nTIME_INFO3\nTIME_INFO4\n```\n',
 " SELECT * FROM odsn_building_info WHERE addr LIKE '마포%' AND addr LIKE '%경로당%'\n \n### Sample Output\nThe sample output for this query would be:\n|ID|NM|ADDR_OLD|ADDR|PERMISSION_DT|STATE|STOP_DT|SUSPENSION_START_DT|SUSPENSION_END_DT|RE_OPEN_DT|AREA|POST|ENTRNC_PSNCPA|CTLF_NUM|TOTAL_NUM|XCODE|YCODE|PERMISSION_NO|DETAIL_STAT_NM|\n|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|\n|01010001|마포경로당|마포구청|마포구청 1층 3호실|2012-06-29 00:00:00|정상|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|\n|01010002|마포경로당|마포구청|마포구청 1층 3호실|2012-06-29 00:00:00|정상|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|\n|01010003|마포경로당|마포구청|마포구청 1층 3호실|2012-06-29",
 " SELECT FCLT_NM FROM fclt_open_info_y_c WHERE FCLT_KIND_NM!= '아동 복지 시설' ORDER BY FCLT_NM DESC;\n",
 ' SELECT REGIST_DT FROM iot_vdata020 WHERE COLUMN1 = 1;\n',
 ' (https://github.com/SeongJaeKim/SQL-Query-Generator/blob/main/child_care_info_d_d.sql)\n \n### Example Output\nThis query will return a table containing the following data:\n| SIGUNNAME | STCODE | CRNAME | CRTYPENAME | CRSTATUSNAME | ZIPCODE | CRADDR | CRTELNO | CRFAXNO | CRHOME | NRTRROOMSIZE | PLGRDCO | CRCAPAT | CRCHCNT | LA | LO | CRCARGBNAME | CRPAUSEBEGINDT | CRPAUSEENDDT | DATASTDRDT | CRSPEC | CLASS_CNT_02 | CLASS_CNT_03 | CLASS_CNT_04 | CLASS_CNT_M2 | CLASS_CNT_M5 | CLASS_CNT_SP | CLASS_CNT_TOT | CHILD_CNT_00 | CHILD_CNT_01 | CHILD_CNT_04 |\n| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |\n| 강원도 | 1 | 태양하나어린이집 | 어린이집 | 운영중 | 210100 | 강원도 | 033-842-0072 | 033-842-0072 | 강원도 | 0 | 0 | 0 |',
 " \n```sql\nSELECT FCLT_NM\nFROM fclt_open_info_g_a\nWHERE FCLT_KIND_DTL_NM = '아동복지시설'\nORDER BY FCLT_NM ASC;\n```\n",
 " SELECT EDUYY FROM tv_eduapplylist WHERE EDUFRDATE LIKE '%장기 미종사자 직무교육%' AND EDUFRDATE LIKE '%교육 시작 일자%' ORDER BY EDUFRDATE DESC LIMIT 1;\n\n### Answer\nThe answer to `장기 미종사자 직무교육의 교육 시작 일자가 언제야` is '2020-09-14'.",
 ' SELECT STYEAR, ARCODENM, PNTOT FROM stat_sisul_entry_number_info WHERE LENGTH(ARCODENM) = 2;\n \n### Output\nThe output of this query will be a table with the following columns:\n`STYEAR`, `ARCODENM`, `PNTOT`\n',
 ' SELECT * FROM iot_vdata022 WHERE COLUMN4 > 40\n',
 " SELECT NRTRROOMSIZE FROM child_care_info_g_n WHERE CRTYPENAME = '직장' AND CRSTATUSNAME = '일반인 어린이집';\n \n### Output\nThe output of this query is:\n[Output]  1.5\n",
 ' (https://www.db-fiddle.com/f/b8s9b6dVYQ1QHjJZx2BtH/0)\n \n### Sample Output\nThe output of this query is:\n| YYYY | CATEGORY_NM | Q_SUM | QR_SUM | PQ_SUM | PQR_SUM |\n| ---- | ------------ | ----- | ------ | ------ | -------- |\n| 2019 | All | 0 | 0 | 0 | 0 |\n| 2018 | All | 0 | 0 | 0 | 0 |\n| 2017 | All | 0 | 0 | 0 | 0 |\n| 2016 | All | 0 | 0 | 0 | 0 |\n| 2015 | All | 0 | 0 | 0 | 0 |\n| 2014 | All | 0 | 0 | 0 | 0 |\n| 2013 | All | 0 | 0 | 0 | 0 |\n| 2012 | All | 0 | 0 | 0 | 0 |\n| 2011 | All | 0 | 0 | 0 | 0 |\n| 2010 | All | 0 | 0 | 0 | 0 |\n| 2009 | All | 0 | 0 | 0 | 0 |\n| 2008 | All | 0 | 0 | ',
 " SELECT FCLT_KIND_NM FROM fclt_open_info_g_j WHERE JRSD_SGG_NM = '광진구' AND FCLT_KIND_NM LIKE '%복지%'\n\n### Results\nThe results of the SQL query are as follows:\n| FCLT_KIND_NM |\n| --- |\n| 아동복지시설 |\n| 보호시설 |\n| 기초생활보장시설 |\n| 보육시설 |\n| 장애인복지시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시설 |\n| 장애인보호시",
 ' (https://www.db-fiddle.com/f/4G6yLqLQHkHhYy3zCv2nX8-0)\n \n### Answer\nThe answer to the question is:\n[ANSWER] (https://www.db-fiddle.com/f/4G6yLqLQHkHhYy3zCv2nX8-0)\n',
 ' https://gist.github.com/anonymous/5b5d8e2c9c2e2b2b6c7b8c0b8c5a4e8a\n\n### Output\nHere is the output of the query:\n[Output] https://gist.github.com/anonymous/5b5d8e2c9c2e2b2b6c7b8c0b8c5a4e8a\n\n### Comments\nPlease add any comments or questions you have about the query.\n',
 " `SELECT fclty_cl_nm FROM tn_fclty_sttus_info10075 WHERE age_se_nm = '영유아'`\n \n### Answer\nThe answer to the question is:\n`SELECT fclty_cl_nm FROM tn_fclty_sttus_info10075 WHERE age_se_nm = '영유아'`\n",
 ' https://gist.github.com/anonymous/9e1b6a0cfb5a9d9f2f0e\n\n### Result\nThe result is a list of the names of the child care centers that are run by corporations and have a normal status. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is a list of names in the database. The result is',
 ' \n',
 " \n```sql\nSELECT FCLT_NM, FCLT_ADDR FROM fclt_open_info_d_b WHERE FCLT_KIND_NM = '노인 주거복지시설';\n```\n### Output\nThe output of the query will be:\n[Output] \n```sql\nFCLT_NM  FCLT_ADDR\n노인 주거복지시설  1) 2) 3) 4) 5) 6) 7) 8) 9) 10) 11) 12) 13) 14) 15) 16) 17) 18) 19) 20) 21) 22) 23) 24) 25) 26) 27) 28) 29) 30) 31) 32) 33) 34) 35) 36) 37) 38) 39) 40) 41) 42) 43) 44) 45) 46) 47) 48) 49) 50) 51) 52) 53) 54) 55) 56) 57) 58) 59) 60) 61) 62) 63) 64) 65) 66) 67) 68) 69) 70) 71) 72) 73) 74) 75",
 ' (https://www.db-fiddle.com/f/8b6a8N5sG4Cw8FmXyM1Qr/0)\n\n### Data\nThe data for the database is [here](https://raw.githubusercontent.com/ChadAllen/SQL-Interview-Questions/master/child_care_info_g_b.csv)\n\n### Sample Output\nHere is a sample of the output that the SQL query returns:\n[Output] (https://www.db-fiddle.com/f/8b6a8N5sG4Cw8FmXyM1Qr/0)\n',
 " SELECT CRNAME, CCTVINSTLCNT FROM child_care_info_d_j WHERE CRNAME LIKE '%구립%' AND CRSTATUSNAME LIKE '%연장%' AND CRFAXNO LIKE '%연장%';\n",
 " \n```sql\nSELECT EDUYY, SISUL_NAME, EDU_NAME, EDUGISU, EDUFRDATE, EDUTODATE, CAPACNT, APLYCNT, EDUSTATE, ADDR, TEL\nFROM tv_eduapplylist\nWHERE CAPACNT = '40' OR CAPACNT = '50'\n```\n",
 ' (https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_in)\n \n### Expected Output\nThe output should look like this:\n```\nSIGUNNAME\n은평구\nSTCODE\n267\nCRNAME\n가나다어린이집\nCRTYPENAME\n일반\nCRSTATUSNAME\n운영중\nZIPCODE\n121-121\nCRADDR\n서울시 은평구 은평로 100-10\nCRFAXNO\n02-1234-1234\nNRTRROOMCNT\n3\nNRTRROOMSIZE\n8.0\nPLGRDCO\n한\nCRCAPAT\n3\nLA\n5\nLO\n5\nCRCARGBNAME\n서울\nCRPAUSEBEGINDT\n2016-01-01\nCRABLDT\n2016-01-01\nDATASTDRDT\n2016-01-01\nCRSPEC\n중식, 밥, 국\nCLASS_CNT_01\n2\nCLASS_CNT_03\n2\nCLASS_CNT_04\n0\nCLASS_CNT_05\n0\nCLASS_CNT_M5\n2\nCLASS_CNT_TOT\n2\nCHILD_CNT_00\n0\nCHILD_CNT_03\n2\nCHILD_CNT_04\n0\nEM_CNT_A7\n0\n```\n',
 " (SELECT * FROM fclt_open_info_g_r WHERE FCLT_CD LIKE 'B%')\n \n### Output\nHere is the output of the query:\n```sql\nFCLT_NM\nKINDEE\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK\nBANGBAK",
 ' (https://github.com/jeffreykim-dev/jeffreykim-dev.github.io/blob/master/SQL/SQL.sql)\n',
 ' (https://github.com/youngjoon/SQL/blob/master/child_care_info_n_w.sql)\n \n### Result\nThe result of the query is 1, which means that there is only 1 child care center that has a street number of 2.',
 " SELECT UPPER_FOOD_BIG_NM, UPPER_FOOD_MID_NM FROM ma_upper_food_tb WHERE UPPER_FOOD_SML_NM='통통단팥'\n \n### Result\nThe result of this query is:\n| UPPER_FOOD_BIG_NM | UPPER_FOOD_MID_NM |\n|-------------------|-------------------|\n| 통통단팥          | 단팥              |\n",
 ' (https://github.com/lemonadefactory/SQL/blob/master/CCTV%20installation%20in%20child%20care%20centers%20in%20Dongjak%20District.sql)\n \n### Data\nHere is a sample of the data that will be queried: [Sample data] (https://github.com/lemonadefactory/SQL/blob/master/sample_data.csv)\n',
 ' (https://github.com/sungminpark/SQL/blob/master/SQL.sql)\n \n### Result\n![image](https://github.com/sungminpark/SQL/blob/master/SQL.png)\n',
 " SELECT * FROM gd_tn_bbs5 WHERE NAME = '한국시각장애인복지관'\n \n### Output\nThe output of this query is a table with the following columns:\n- NAME: `한국시각장애인복지관`\n- PHONE: `02-3423-1111`\n- DONG: `종로구`\n \n### Description\nThe output of this query is a table with the following columns:\n- NAME: `한국시각장애인복지관`\n- PHONE: `02-3423-1111`\n- DONG: `종로구`\n",
 " SELECT DISTINCT CRNAME, NRTRROOMCNT, NRTRROOMSIZE, CRCAPAT, CRCHCNT, LA, LO, CRCARGBNAME, CRCNFMDT, CRPAUSEBEGINDT, CRABLDT, DATASTDRDT, CRSPEC, CLASS_CNT_00, CLASS_CNT_M5, CLASS_CNT_TOT, CHILD_CNT_02, CHILD_CNT_03, CHILD_CNT_05, CHILD_CNT_M2 FROM child_care_info_n_w WHERE CRNAME LIKE '%우주별%' AND NRTRROOMCNT LIKE '%우주별%' AND NRTRROOMSIZE LIKE '%우주별%' AND CRCAPAT LIKE '%우주별%' AND CRCHCNT LIKE '%우주별%' AND LA LIKE '%우주별%' AND LO LIKE '%우주별%' AND CRCARGBNAME LIKE '%우주별%' AND CRCNFMDT LIKE '%우주별%' AND CRPAUSEBEGINDT LIKE '%우주별%' AND CRABLDT LIKE '%우주별%' AND DATASTDRDT LIKE '%우주별%' AND CRSPEC LIKE '%우주별%' AND CLASS_CNT_00 LIKE '%우주별%' AND CLASS_CNT_M5 LIKE '%우주별%' AND CLASS_CNT_TOT LIKE '%우주별%' AND CHILD_CNT_02 LIKE '%우주별%' AND CHILD_CNT_03 LIKE '%우주별%' AND CHILD_CNT_05 LIKE '%우주별%' AND CHILD_CNT",
 ' (https://github.com/Jungmin-Park/SQL/blob/main/SQL%20Query.sql)\n \n### Result\n![Result](https://github.com/Jungmin-Park/SQL/blob/main/SQL%20Result.png)\n',
 " `SELECT FCLT_NM FROM fclt_open_info_o_l_w_i WHERE ELDERLY_WELFARE_FCLT_CD = 'SHY01' ORDER BY FCLT_NM`\n\n### Sample Data\nHere is an example of the data that would be returned by this query:\n|FCLT_NM|\n|---|\n|가든하우스|\n|광명시설|\n|광명시설2|\n|광명시설3|\n|광명시설4|\n|광명시설5|\n|광명시설6|\n|광명시설7|\n|광명시설8|\n|광명시설9|\n|광명시설10|\n|광명시설11|\n|광명시설12|\n|광명시설13|\n|광명시설14|\n|광명시설15|\n|광명시설16|\n|광명시설17|\n|광명시설18|\n|광명시설19|\n|광명시설20|\n|광명시설21|\n|광명시설22|\n|광명시설23|\n|광명시설24|\n|광명시설25|\n|광명시설26|\n|광명시설27|\n|광명시설28|\n|광명시설29|\n|광명시설30|\n|광명시설31|\n|광명시설32|\n|광",
 ' \n```sql\nSELECT CRNAME, NRTRROOMSIZE, CCTVINSTLCNT, CHCRTESCNT FROM child_care_info_y_s WHERE CHCRTESCNT = 20;\n```\n',
 ' (https://github.com/DevOps-Project-2/DevOps-Project-2/blob/main/SQL%20-%20Light%20Query.sql)\n \n### Results\nThe results of this query are represented in this table:\n[Results] (https://github.com/DevOps-Project-2/DevOps-Project-2/blob/main/Results%20-%20Light%20Query.txt)\n \n### Query\nThe query is: \nSELECT * FROM iot_vdata022 WHERE COLUMN2 >= 30 OR COLUMN4 = 1 ORDER BY COLUMN2 DESC\n',
 ' (https://github.com/ChoiJunyoung/SQL-Query/blob/master/child_care_info_d_j.sql)\n\n### Output\n[Output] (https://github.com/ChoiJunyoung/SQL-Query/blob/master/child_care_info_d_j.txt)\n\n',
 ' (SELECT * FROM fclt_open_info_g_a WHERE FCLT_NM = \'민들레샘물 지역아동센터\' AND FCLT_ADDR LIKE \'%서울%\')\n\n### Answer\nThe answer is:\n서울시 강서구 공항동 123-4567\n\n### Sample Data\nHere is sample data for the table:\n"INSERT INTO fclt_open_info_g_a (FCLT_NM, FCLT_CD, FCLT_KIND_NM, FCLT_KIND_DTL_NM, JRSD_SGG_NM, FCLT_ADDR) VALUES (\'민들레샘물 지역아동센터\', \'1234567\', \'지역아동센터\', \'보육\', \'서울\', \'서울시 강서구 공항동 123-4567\');"\n',
 ' \nSELECT SUM(TYPE_SUM) FROM global_job_counsel_typediv WHERE TYPE2 < 20 AND TYPE3 = 5;\n\n### Explanation\nThe query above uses the SUM function to calculate the total number of consultations that fall within the parameters of the question. The WHERE clause filters out consultations that do not meet the criteria of having less than 20 calls and 5 visits. The SUM function then returns the total number of consultations that meet the criteria.',
 " SELECT FCLTY_CL_NM FROM tn_fclty_sttus_info10075 WHERE AGE_SE_NM = '영유아' ORDER BY FCLTY_CL_NM ASC;\n",
 " SELECT NAME FROM gd_notice_view WHERE HIT = '177'\n",
 " SELECT ZIP, BASS_ADRES FROM tn_fclty_sttus_info10075 WHERE FCLTY_CL_NM LIKE '%청소년센터%';",
 " (SELECT * FROM tourist_food_info WHERE SISULNAME LIKE '____' AND ADDR LIKE '%___%')\n",
 " SELECT YS_WELFARE_FCLT_KIND_NM, FCLT_KIND_DTL_NM FROM fclt_open_info_y_s WHERE FCLT_NM = '혜심원'\n\n### Output\nThe output of this query will be a table of all the rows that match the query, and the column names are 'YS_WELFARE_FCLT_KIND_NM' and 'FCLT_KIND_DTL_NM'. For example, if the query were run on a table containing the following rows:\n|YS_WELFARE_FCLT_KIND_NM|FCLT_KIND_DTL_NM|\n|---|---|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|상장형|상장형|\n|",
 ' SELECT COUNT(*) FROM safe_open_box WHERE WGSYPT = 425.5 AND WGSXPT = 127.4\n',
 ' (https://github.com/whiteshadow/SQL-Quiz-1/blob/master/SQL%20Query.sql)\n \n### Sample Output\nHere is a sample output of the SQL query:\n[Sample Output] (https://github.com/whiteshadow/SQL-Quiz-1/blob/master/SQL%20Query%20Output.txt)\n',
 " SELECT RNTFEE FROM tn_fclty_sttus_info10071 WHERE REGIST_DT = '2022-05-09'\n",
 " SELECT * FROM child_care_info_n_w WHERE CRTYPENAME = '국공립'\n",
 ' (https://github.com/jhunjae/SQL/blob/master/child_care_info_y_c.sql)\n',
 " SELECT FCLT_ADDR FROM fclt_open_info_o_w_i WHERE FCLT_NM = '양천어르신종합복지관'\n\n### Output\nThe output of this query would be:\n```\nSELECT FCLT_ADDR FROM fclt_open_info_o_w_i WHERE FCLT_NM = '양천어르신종합복지관'\n```\n",
 " SELECT * FROM fclt_open_info_r_o_w_i WHERE JRSD_SGG_NM = '용산구'\n \n### Output\nThis query returns the following data:\n| FCLT_NM | FCLT_CD | HOME_ELDERY_FCLT_KIND_NM | FCLT_KIND_DTL_NM | HOME_ELDERY_RPRSNTV | JRSD_SGG_NM | FCLT_ADDR |\n| --- | --- | --- | --- | --- | --- | --- |\n| 용산구 | 용산구 | 장애인 | 장애인 | 장애인 | 용산구 |  |\n| 용산구 | 용산구 | 장애인 | 장애인 | 장애인 | 용산구 |  |\n| 용산구 | 용산구 | 장애인 | 장애인 | 장애인 | 용산구 |  |\n| 용산구 | 용산구 | 장애인 | 장애인 | 장애인 | 용산구 |  |\n| 용산구 | 용산구 | 장애인 | 장애인 | 장애인 | 용산구 |  |\n| 용산구 | 용산구 | 장애인 | 장애인 | 장애인 | 용산구 |  |\n| 용산구 | 용산구 | 장애인 | 장애인 | 장애인 | 용산구 |  |\n| 용산구 | 용산구 | 장애인",
 ' \n```sql\nSELECT \n  SUM(CNTTOT) AS "합계", \n  AVG(CNT0101) AS "국공립 어린이집"\nFROM \n  stat_child_number_info\nWHERE \n  ARCODENM LIKE \'서대문구\'\n```\n### Query\nHere is the query that answers `시설수 합계와 서대문구에 있는 국공립 어린이집 수의 평균값을 시설수의 합계별로 보여줘`:\n```sql\nSELECT \n  SUM(CNTTOT) AS "합계", \n  AVG(CNT0101) AS "국공립 어린이집"\nFROM \n  stat_child_number_info\nWHERE \n  ARCODENM LIKE \'서대문구\'\n```\n',
 ' (https://github.com/rodrigokr/SQL-Queries/blob/master/child_care_info_d_j.sql)\n',
 ' SELECT * FROM child_care_info_s_c ORDER BY CRTYPENAME DESC;\n \n### Output\nThe output is a list of all the names of the day care centers that are run by the parents of working people, sorted by the name of the day care center in reverse order.\n',
 " SELECT * FROM fclt_open_info_j_r WHERE FCLT_NM LIKE '%꽃동네%' AND FCLT_ADDR LIKE '%꽃동네%';\n \n### Data\nThe query is run on the following data:\n| FCLT_NM | FCLT_KIND_NM | FCLT_KIND_DTL_NM | JRSD_SGG_CD | JRSD_SGG_NM | FCLT_ADDR |\n| --- | --- | --- | --- | --- | --- |\n| 꽃동네 | 꽃동네 | 꽃동네 | 0 | 꽃동네 | 꽃동네 |\n| 꽃동네 | 꽃동네 | 꽃동네 | 0 | 꽃동네 | 꽃동네 |\n| 꽃동네 | 꽃동네 | 꽃동네 | 0 | 꽃동네 | 꽃동네 |\n| 꽃동네 | 꽃동네 | 꽃동네 | 0 | 꽃동네 | 꽃동네 |\n| 꽃동네 | 꽃동네 | 꽃동네 | 0 | 꽃동네 | 꽃동네 |\n| 꽃동네 | 꽃동네 | 꽃동네 | 0 | 꽃동네 | 꽃동네 |\n| 꽃동네 | 꽃동네 | 꽃동네 | 0 | 꽃동네 | 꽃동네 |\n| 꽃동네 | 꽃동네 | 꽃동네 | 0 | 꽃동네 | 꽃동네 |\n| 꽃동네 | 꽃동네 | 꽃",
 " SELECT COLUMN9 FROM iot_vdata023 WHERE COLUMN9 LIKE '%9'\n \n### Result\nThe result of the SQL query is:\n \n| COLUMN9 |\n|---------|\n| 2.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0     |\n| 1.0",
 " SELECT * FROM fclt_open_info_g_d WHERE FCLT_NM LIKE '강%';",
 " SELECT * FROM odsn_building_info WHERE NM = '해태경로당' OR NM = '다솜경로당' AND PERMISSION_DT IS NOT NULL;\n",
 " SELECT jrsg_nm, fclt_kind_nm FROM fclt_open_info_k_w_i WHERE fclt_nm LIKE '%마을%';\n\n### Explanation\nThis query selects the `jrsg_nm` and `fclt_kind_nm` from the `fclt_open_info_k_w_i` table. It will return all rows where the `fclt_nm` field contains the string '%마을%'.\n\n### Expected Output\nThe expected output of this query is a list of all rows where the `fclt_nm` field contains the string '%마을%'. The expected output should look something like this:\n```\n+----------------+------------------+\n| jrsg_nm        | fclt_kind_nm     |\n+----------------+------------------+\n| 김포시         | 어린이집         |\n| 김포시         | 유치원           |\n| 김포시         | 어린이집         |\n| 김포시         | 어린이집         |\n| 김포시         | 어린이집         |\n| 김포시         | 어린이집         |\n| 김포시         | 어린이집         |\n| 김포시         | 어린이집         |\n| 김포시         | 어린이집         |\n| 김포시         | 어린이집         |\n| 김포시         | 어린이집         |\n| 김포시         | 어린이집         |\n| 김포시         | 어린이집         |\n| 김",
 " SELECT FCLT_NM FROM fclt_open_info_k_w_i WHERE JRSD_SGG_NM IN ('중구', '강동구')\n",
 " \nSELECT COUNT(*) FROM tb_vmc_recruit WHERE SUBJECT LIKE '%결혼%'\n",
 " `SELECT STYEAR FROM stat_teacher_area_type_info WHERE ARCODENM = '성동구' AND TOT > 0;`\n \n### Output\nThe result of the query will be a single column table with the following data:\n| STYEAR |\n| --- |\n| 2016 |\n| 2017 |\n| 2018 |\n| 2019 |\n| 2020 |\n",
 " SELECT FCLT_NM FROM fclt_open_info_g_s WHERE FCLT_ADDR LIKE '%양천로%'\n \n### Result\nThe query returns the following results:\n```text\nFCLT_NM\n---\n양천로1가길\n양천로2가길\n양천로3가길\n양천로4가길\n양천로5가길\n양천로6가길\n양천로7가길\n양천로8가길\n양천로9가길\n양천로10가길\n양천로11가길\n양천로12가길\n양천로13가길\n양천로14가길\n양천로15가길\n양천로16가길\n양천로17가길\n양천로18가길\n양천로19가길\n양천로20가길\n양천로21가길\n양천로22가길\n양천로23가길\n양천로24가길\n양천로25가길\n양천로26가길\n양천로27가길\n양천로28가길\n양천로29가길\n양천로30가길\n양천로31가길\n양천로32가길\n양천로33가길\n양천로34가길\n양천로35가길\n양천로36가길\n양천로37",
 ' (SELECT STYEAR FROM stat_one_per_child_info WHERE CHILDMPN > 4000 AND ARCODE = 100)\n \n### Output\nThe output of the query is:\n[OUTPUT] (2016)\n',
 " \nSELECT GC_WELFARE_FCLT_NM, GC_WELFARE_FCLT_CD, GC_WELFARE_JRSD_SGG_CD, FCLT_ADDR FROM fclt_open_info_g_c WHERE GC_WELFARE_FCLT_NM = '살구지역아동센터' \n",
 " SELECT fclt_kind_dtl_nm FROM fclt_open_info_y_c WHERE fclt_nm = '보람의집'\n",
 ' (https://gist.github.com/justinwong/8d4e9a2d3d8d9e8f6b8f6d7d4e1e0a6f)\n \n### Result\nThe result of the SQL query is:\n[Result] (https://gist.github.com/justinwong/8d4e9a2d3d8d9e8f6b8f6d7d4e1e0a6f)\n',

In [13]:
for idx, query in enumerate(tqdm(inference_query)):
    try:
        infer_query_result = mysql_query(db, query)
        real_query_result = mysql_query(db, evalset['output'][idx])
        comp = any(item in real_query_result for item in infer_query_result)
        excute_result.append(1)
        cnt_query_result.append(len(infer_query_result))
        if len(infer_query_result) == len(real_query_result):
            query_cnt_result.append(1)
        else:
            query_cnt_result.append(0)
            fail_check.append(idx)
            
        if comp == True:
            include_query_result.append(1)
        else:
            include_query_result.append(0)
    except Exception as e:
        excute_result.append(0)
        cnt_query_result.append(0)
        query_cnt_result.append(0)
        print(idx, e)
        fail_check.append(idx)

    time.sleep(0.2)

  0%|          | 0/136 [00:00<?, ?it/s]

12 1055 (42000): Expression #2 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'seoul_welfare.GLOBAL_JOB_COUNSEL_QTRST.Q_SUM' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by
27 1054 (42S22): Unknown column 'MID_NM' in 'field list'
70 1054 (42S22): Unknown column 'STALL' in 'where clause'

In [14]:
print(f"쿼리 실행 확률 : {round(excute_result.count(1) / len(evalset), 2)}\n\
쿼리 결과 수 같을 확률 : {round(query_cnt_result.count(1) / len(evalset), 2)}")

쿼리 실행 확률 : 0.98
쿼리 결과 수 같을 확률 : 0.86

In [13]:
check_fail_idx = []
for idx, val in enumerate(query_cnt_result):
    if val == 0:
        check_fail_idx.append(idx)

In [15]:
len(check_fail_idx)

358

In [15]:
len(inference_query)

507

In [12]:
evalset

Dataset({
    features: ['input', 'accept', 'reject', 'context'],
    num_rows: 100
})

In [14]:
import pandas as pd
input = pd.Series(evalset['input'])
rejected = pd.Series(inference_query)
chosen = pd.Series(evalset['accept'])
context =  pd.Series(evalset['context'])

df = pd.concat([input, chosen, rejected, context], axis=1)
df.rename(columns={ 0: 'input', 1: 'accept', 2: 'reject', 3: 'context'}, inplace = True)
df.to_csv("../dpo/data/0514university_dpo_kor_data.csv")
df

,input,accept,reject,context
0,모든 모듈에 대해 각 학생이 등록한 총 모듈 수를 계산하고 학생과 등록한 총 모듈 ...,"SELECT id_student, COUNT(*) AS total_modules_r...","SELECT sr.id_student, COUNT(sr.code_module) AS...",CREATE TABLE studentregistration (code_module ...
1,지역명과 지역별 Pass 등급을 받은 학생들의 평균 학점,"SELECT region, AVG(studied_credits) AS avg_cre...","SELECT region, AVG(studied_credits) AS avg_cre...",CREATE TABLE studentinfo (code_module varchar(...
2,가장 많은 학점을 이수한 모듈의 학생번호 및 최종 성적을 조회,"SELECT sr.id_student, si.final_result FROM stu...","SELECT sr.id_student, si.final_result FROM stu...",CREATE TABLE studentinfo (code_module varchar(...
3,등록한 학생들 중 VLE 자료와 상호 작용한 학생들의 연령대별 평균 학점이 80보다...,"SELECT s.age_band, AVG(studied_credits) AS avg...","SELECT studentinfo.age_band, AVG(studentinfo.s...",CREATE TABLE studentinfo (code_module varchar(...
4,각 모듈 프레젠테이션에 등록한 학생 중 VLE 자료를 이용한 학생의 평균 상호 작용...,"SELECT sr.code_module, sr.code_presentation, A...","SELECT studentregistration.code_module, studen...",CREATE TABLE studentinfo (code_module varchar(...
...,...,...,...,...
393,각 지역의 지역명과 학생들의 평균 나이를 조회,"SELECT region, AVG(CAST(SUBSTRING(age_band, 1,...","SELECT region, AVG(age_band) AS avg_age FROM s...",CREATE TABLE studentinfo (code_module varchar(...
394,평균 클릭 수 보다 높은 클릭 수의 학생들의 평균 성적을 구해줘,SELECT AVG(studentassessment.score) AS average...,SELECT AVG(studentassessment.score) AS average...,CREATE TABLE studentassessment (id_assessment ...
395,평가 결과가 'Distinction'이고 모든 평가 유형에서 평균 점수가 80보다 ...,SELECT COUNT(*) AS distinction_count FROM ( SE...,SELECT COUNT(DISTINCT studentinfo.id_student) ...,CREATE TABLE studentassessment (id_assessment ...
396,각 모듈 프레젠테이션에서 가장 높은 점수를 받은 학생의 최종 결과를 식별하고 모듈 ...,"SELECT sr.code_module, sr.code_presentation, s...","SELECT sr.code_module, sr.code_presentation, s...",CREATE TABLE studentinfo (code_module varchar(...
397,최종 학력이 Lower Than A Level인 학생을 연령대 별로 평균 점수 확인,"SELECT studentinfo.age_band, AVG(studentassess...","SELECT studentinfo.age_band, AVG(studentassess...",CREATE TABLE studentassessment (id_assessment ...

In [9]:
i = 1
inputs = tokenizer(
[
    prompt_1.format(
        f"{evalset[i]['input']}",
        f"{evalset[i]['context']}",
        f"{evalset[i]['input']}",
        "", 
    )
], return_tensors = "pt").to("cuda")

outputs = model.generate(**inputs, max_new_tokens = 300, use_cache = True)
result = tokenizer.batch_decode(outputs)
result = result[0].split("[SQL]")[-1].split("[/SQL]")[0]

# infer_query_result = mysql_query(db, result)
# real_query_result = mysql_query(db, evalset['output'][i])

Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.

In [10]:
from pprint import pprint
print(result)

SELECT c.code_module, AVG(c.module_presentation_length) as avg_presentation_length, v.activity_type, MAX(sr.date_registration) as max_date_registration FROM courses c JOIN vle v ON c.code_module = v.code_module AND c.code_presentation = v.code_presentation JOIN studentregistration sr ON c.code_module = sr.code_module AND c.code_presentation = sr.code_presentation GROUP BY c.code_module, v.activity_type;

In [13]:
evalset[i]['output']

'SELECT c.code_module, AVG(c.module_presentation_length) AS avg_presentation_length, v.activity_type, AVG(v.week_to - v.week_from) AS avg_activity_duration FROM courses c JOIN vle v ON c.code_module = v.code_module AND c.code_presentation = v.code_presentation JOIN studentRegistration r ON c.code_module = r.code_module AND c.code_presentation = r.code_presentation GROUP BY c.code_module, v.activity_type;'

### test

In [8]:
class EosTokenRewardLogitsProcessor:
  def __init__(self, eos_token_id: int, max_length: int):
    # `eos_token_id`와 `max_length`의 유효성을 검사하는 조건문입니다.
    if not isinstance(eos_token_id, int) or eos_token_id < 0:
        raise ValueError(f"`eos_token_id` has to be a positive integer, but is {eos_token_id}")

    if not isinstance(max_length, int) or max_length < 1:
        raise ValueError(f"`max_length` has to be an integer bigger than 1, but is {max_length}")

    # 생성자 메서드에서 `eos_token_id`와 `max_length`를 클래스 멤버 변수로 저장합니다.
    self.eos_token_id = eos_token_id
    self.max_length = max_length

  def __call__(self, input_ids: torch.LongTensor, scores: torch.FloatTensor) -> torch.FloatTensor:
    cur_len = input_ids.shape[-1]
    # 보상을 증가시키는 과정을 설명하는 주석입니다.
    # eos_token의 보상을 문장 길이에 따라 조절합니다.
    for cur_len in (max(0, int(self.max_length * 0.8)), self.max_length):
      ratio = cur_len / self.max_length
      num_tokens = scores.shape[1]  # 어휘 크기 (단어 집합의 크기)

      # eos_token이 아닌 다른 토큰의 점수를 조정합니다.
      # 선택된 토큰의 부호(sign)의 지수값을 취한 것으로, 음수 값은 0에 가깝게, 양수 값은 1에 가깝게 변환합니다.
      scores[:, [i for i in range(num_tokens) if i != self.eos_token_id]] = \
        scores[:, [i for i in range(num_tokens) if i != self.eos_token_id]] * ratio * 10 * torch.exp(-torch.sign(scores[:, [i for i in range(num_tokens) if i != self.eos_token_id]]))

      # eos_token의 보상을 특정 상수로 설정합니다.
      scores[:, self.eos_token_id] = 1e2 * ratio

    # 조정된 점수가 저장된 scores를 반환합니다.
    return scores

In [10]:
from pprint import pprint
from googletrans import Translator

translator = Translator()

In [20]:
j = 10
korean_input = df['질문'][j]
label = df['답변'][j]
question = translator.translate(korean_input, dest='en').text
inputs = tokenizer(
    [
        alpaca_prompt.format(
            f"{question}", # input
            "", 
        )
    ], return_tensors = "pt").to("cuda")
# pprint(inputs)
outputs = model.generate(**inputs,
                         max_new_tokens = 300,
                        #  pad_token_id= tokenizer.eos_token_id,
                        #  eos_token_id= tokenizer.eos_token_id,
                         output_scores=True,
                        #  logits_processor =[EosTokenRewardLogitsProcessor(eos_token_id=tokenizer.eos_token_id, max_length=300)],
                         use_cache = True)
result = tokenizer.batch_decode(outputs)
result = result[0].split("### Response:")[-1].split(";")[0].split("<|end_of_text|>")[0].replace("\n", "") + ";"
torch.cuda.empty_cache()
# print(f"Inference: {result}\nLabel: {evalset['output'][j]}")
print(f"Inference: {result}\nLabel: {label}")
infer_query_result = mysql_query(db, result)
real_query_result = mysql_query(db, label)
comp = any(item in real_query_result for item in infer_query_result)
pritn(f"\ncomparison: {comp}")

Setting `pad_token_id` to `eos_token_id`:128001 for open-end generation.

Inference: SELECT AVG(studied_credits) FROM studentInfo;
Label: SELECT AVG(studied_credits) as avg_credits
FROM studentInfo;

NameError: name 'mysql_query' is not defined